<!DOCTYPE html>
<html>
<head>
    <title>Odoo Setup</title>
</head>
<body>
    <h1>Odoo Setup Form</h1>
     <div>
        <h2>Currently Used Ports:</h2>
        <p>{{ used_ports }}</p>
    </div>
    <form action="/" method="post">
        <label for="odoo_port">Odoo Port:</label>
        <input type="text" id="odoo_port" name="odoo_port" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="odoo_version">Odoo Version (optional):</label>
        <input type="text" id="odoo_version" name="odoo_version"><br><br>

        <label for="postgres_version">PostgreSQL Version (optional):</label>
        <input type="text" id="postgres_version" name="postgres_version"><br><br>

        <input type="submit" value="Start Odoo">
    </form>
</body>
</html>
